<!DOCTYPE html>
<html>
	<head>
		<title>Dynatag - add a tag</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dynatag.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}my_tags.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}add_tag.css">
	</head>
	<body onload="initView()">
		<script type="text/javascript" src="{{ STATIC_URL }}add_tag.js"></script>
		<h1>Dynatag</h1>
		<div id="main">
			<h2 id="heading">Add a tag</h2>
				<div id="form">
					<p>Tag name: <input id="tag_name"></p>
					<p>Description: <input id="tag_desc"></p>
					<p class="error" id="err_message"></p>
					<div id="tag_type">
						<span class="type_radio"><input id="url_radio" class="radiobutton" type="radio" name="type" value="url" onclick="showSettings()"> Web page</span>
						<span class="type_radio"><input id="email_radio" class="radiobutton" type="radio" name="type" value="email" onclick="showSettings()"> E-mail</span>
						<span class="type_radio"><input id="phone_radio"  class="radiobutton" type="radio" name="type" value="phone" onclick="showSettings()"> Phone number</span>
						<span class="type_radio"><input id="vcard_radio" class="radiobutton" type="radio" name="type" value="vcard" onclick="showSettings()"> Business card</span>
						<span class="type_radio"><input id="ical_radio" class="radiobutton" type="radio" name="type" value="cal" onclick="showSettings()"> Calendar entry</span>
					</div>

					<div class="tag_settings" id="url">
						Url: <input id="url_input" type="url">
					</div>
					<div class="tag_settings" id="email">
						E-mail: <input id="email_input" type="email">
					</div>
					<div class="tag_settings" id="phone">
						Phone number: <input id="phone_input" type="tel">
					</div>
					<div class="tag_settings" id="vcard">
						<p>First name: <input id="vcard_fname_input"></p>
						<p>Last name: <input id="vcard_lname_input"></p>
						<p>Phone: <input id="vcard_phone_input" type="tel"></p>
						<p>E-mail: <input id="vcard_email_input" type="email"></p>
						<p>Address: <input id="vcard_address_input"></p>
						<p>City: <input id="vcard_city_input"></p>
						<p>Zip code: <input id="vcard_zip_input"></p>
						<p>Country: <input id="vcard_country_input"></p>
					</div>
					<div class="tag_settings" id="cal">
						<p>Title: <input id="cal_title_input"></p>
						<p>Place: <input id="cal_place_input"></p>
						<p>Start: <input type="datetime-local" id="cal_start_input"></p>
						<p>End: <input type="datetime-local" id="cal_end_input"></p>
						<p class="error" id="err_message_date"></p>
					</div>
					<button onclick="addTag()" id="submit_button">Add a tag</button>
				</div>
		</div>
		<form id="post_form" style="display:none" action="save/" method="POST">
			<input name="name" id="form_tag_name">
			<input name="description" id="form_tag_desc">
			<textarea name="tag_data" id="form_tag_data" ></textarea>
			<input name="tag_mimetype" id="form_tag_type" >
			<input name="edit_tag_id" value="{{ tag_id }}" style="display:none;">
			{% csrf_token %}
		</form>
		<div id="old_tag_type" style="display:none;">{{ tag_type }}</div>
		<div id="old_tag_data" style="display:none;">{{ tag_data }}</div>
		<div id="old_tag_name" style="display:none;">{{ tag_name }}</div>
		<div id="old_tag_description" style="display:none;">{{ tag_desc }}</div>
	</body>
</html>