<!DOCTYPE html>
<html>
	<head>
		<title>Dynatag - are you a human?</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dynatag.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}my_tags.css">
		<script src='https://www.google.com/recaptcha/api.js'></script>
	</head>
	<body onload="init_view()">

        <script type="text/javascript" src="{{ STATIC_URL }}settings.js"></script>
		<h1>Dynatag</h1>
		<div id="main">
			<h2>Are you a human?</h2>
			<form action="../captcha_check/" method="POST">
				<p>Too many attempts have been made to log in to your account with incorrect credentials. Please enter the following captcha to unlock your account.</p>
                {% csrf_token %}
                <div class="g-recaptcha" data-sitekey="{{ public_key }}"></div>
                <input type="submit" value="Send">
				<p class="error">{{ captcha_error }}</p>
			</form>
		</div>
	</body>
</html>