<!DOCTYPE html>
<html>
	<head>
		<title>Dynatag</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dynatag.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}index.css">
		<script type="text/javascript" src="static/index.js"></script>
	</head>
	<body>
	<h1>{{ app_name }}</h1>
		<div id="top">

			<img id="ribbon" src="{{ STATIC_URL }}bitbucket-ribbon-dark-blue.png" onclick="window.location='https://bitbucket.org/mikahama/dynatag'">
			<p id="desc">Create dynamic QR codes and NFC tags!</p>
		</div>
		<div id="form">
			<form id="login" action="login/" method="POST">
				<h2>Log in</h2>
				<input name="username" ><br>
				<input type="password" name="password" ><br>
				<p class="error">{{ auth_fail }}</p>
				<input type="submit" value="Log in">
				<p class="smalltip" onclick="passwordChange()">Forgot your password?</p>
				{% csrf_token %}
			</form>
			<div id="middle_or">
				<p>OR</p>
			</div>
			<form id="create" action="create_account/" method="POST">
				<h2>Create account</h2>
				<p class="input_text">Username: <input name="username" ></p>
				<p class="input_text">Password: <input type="password" name="password" ></p>
				<p class="input_text">E-mail: <input name="email" type="email"></p>
				<p class="error">{{ create_fail }}</p>
				{% csrf_token %}
				<input type="submit" value="Sign up">
			</form>
		</div>
		<div id="bottom">
			<p>(C) 2015 Mika Hämäläinen - see my programs at <a href="http://mkhsoft.eu" target="_blank">mkhsoft.eu</a></p>
		</div>
	</body>
</html>