<!DOCTYPE html>
<html>
	<head>
		<title>Dynatag - my tags</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dynatag.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}my_tags.css">
	</head>
	<body>
        
        <script type="text/javascript">
        	var qurl = "{{ qr_url }}";
        </script>
        <script type="text/javascript" src="{{ STATIC_URL }}main.js"></script>
		<h1>Dynatag</h1>
		<p id="logout">My tags | <a href="../logout/">Logout</a> | <a href="../settings/">Account settings</a></p>
		<div id="main">
		<h2>{{ user_name }}'s tags</h2>
		<button onclick="window.location='add/'">Add a tag</button>
			<div id="tag_list">
			{% if tags %}
				{% for tag in tags %}
					<div class="tag"><div class="tag_name"> <img class="qr_ico" src="../static/qr_icon.png" title="Show QR code" onclick="showQR('{{ tag.id }}')"> <a href="edit?tag={{ tag.id }}">{{ tag.name }}</a></div><div class="tag_description">{{ tag.description }}</div></div>
				{% endfor %}
			{% else %}
				<p>You don't have any tags</p>
			{% endif %}
			</div>
		</div>
        <div id="big_black" style="display:none" onclick="closeDialog()">
        </div>
        <div id="qr_viewer" style="display:none">
            <img src="../static/qr_icon.png" id="qr_image">
            <p><a href="" id="qr_view_url"></a></p>
        </div>
	</body>
</html>