<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password request</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dynatag.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}my_tags.css">
</head>
<body>

<div id="tag_list">
    <p>{{ message }}</p>
    <p><a href="../">Continue to Dynatag</a></p>
</div>

</body>
</html>