<!DOCTYPE html>
<html>
<head>
	<title>Redirecting you...</title>
	<meta charset="utf-8" />
	<meta http-equiv="refresh" content="0;URL='{{ url }}'" /> 
</head>
<body>
	<p>You'll be redirected to <a href="{{ url }}">{{ url }}</a></p>
</body>
</html>