<!DOCTYPE html>
<html>
	<head>
		<title>Dynatag - settings</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dynatag.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}my_tags.css">
	</head>
	<body onload="init_view()">

        <script type="text/javascript" src="{{ STATIC_URL }}settings.js"></script>
		<h1>Dynatag</h1>
		<p id="logout"><a href="../my_tags/">My tags</a> | <a href="../logout/">Logout</a> | Account settings</p>
		<div id="main">
			<h2>Account settings</h2>
			<form action="save/" method="POST">
				<p>E-mail: <input name="email" id="new_mail"></p>
				<p style="display:none;"  id="old_mail">{{ email }}</p>
				<p>Current password: <input type="password" name="oldpass"></p>
				<p>New password: <input type="password" name="newpass1"></p>
				<p>New password again: <input type="password" name="newpass2"></p>
                <p class="error">{{ error }}</p>
                {% csrf_token %}
                <input type="submit" value="Save">
			</form>
		</div>
	</body>
</html>