<!DOCTYPE html>
<html>
	<head>
		<title>Dynatag - tag added</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dynatag.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}my_tags.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}add_tag.css">
	</head>
	<body>
		<h1>Dynatag</h1>
		<div id="main">
			<h2>Voilà, your new tag</h2>
			<div id="tag_container">
				<img src="{{ qr_url }}" alt="A QR code">
				<p>Your dynamic link: <a href="{{ tag_url }}" target="_blank">{{ tag_url }}</a></p>
			</div>
			<button onclick="window.location='../../'">Continue</button>
		</div>
	</body>
</html>