h1{
	font-family: 'HuffPuff';
	font-weight: 900;
	transform: rotate(-15deg);
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 48px;
	color: white;
	text-decoration: underline;
}
@font-face {
    font-family: 'HuffPuff'; /*a name to be used later*/
    src: url('HuffPuff.ttf'); /*URL to font*/
}
body{
	background-color: #4FCCFB;
	margin: 0px;
}
.error{
	color: #FF4848;
	font-style: italic;
	font-size: small;
}