h2, p{
	font-family: sans-serif;
	color: white;
}
#top{
position: absolute;
top: 0px;
right: 0px;
}
.smalltip{
	font-size: smaller;
	text-decoration: underline;
	cursor: pointer;
}
#bottom{
position: absolute;
bottom: 0px;
left: 0px;
right: 0px;
text-align: center;
}
#ribbon{
	float: right;
	cursor: pointer;
}
#form{
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 200px;
	margin-bottom: 200px;
}
#desc{
	font-style: italic;
	float: right;
	color: white;
}
#login{
	text-align: left;
	display: inline-block;
	vertical-align: top;
	margin-right: 64px;
}
#middle_or{
	display: inline-block;
	vertical-align: top;
	height: 200px;
	border-left-style: dotted;
	border-right-style: dotted;
	border-width: 1px;
	border-color: white;
	padding-left: 10px;
	padding-right: 10px;
}
#middle_or p{
	margin-top: 90px;
}
#create{
	text-align: left;
	display: inline-block;
	margin-left: 64px;
}
.input_text{
	text-align: right;
}
#login input{
	margin-bottom: 16px;
}
