#main{
	margin-top: 200px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
	background-color: white;
	min-height: 500px;
	border-radius: 25px;
	padding: 50px;
}
#logout{
	position: absolute;
	top: 32px;
	right: 32px;
	color: white;
}
#logout a:link, #logout a:visited, #logout a:hover{
	color: white;
}
.tag a:link, .tag a:visited, .tag a:hover{
	color: blue;
}
.tag_name{
	font-weight: bold;
}
.tag_description{
	margin-left: 32px;
	font-style: italic;
}
.tag{
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}
#tag_list{
	margin-top: 32px;
}
.qr_ico{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-right: 4px;
}
#big_black{
    background-color: black;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.7;
    cursor: pointer;
}
#qr_viewer{
    background-color: white;
    position: fixed;
    top: 100px;
    bottom: 100px;
    left: 200px;
    right: 200px;
    opacity: 1.0;
    padding: 25px;
    text-align: center;
    border-radius: 25px;
}
#qr_image{
	height: 70%;
}